/*---------------------------------------------------------- 4 Letras ----------------------------------------------------------*/
@media (min-width: 694px) {
    .fn-mobile-visitcard { /* ~ ~ ~ ~ Cartão de visita ~ ~ ~ ~ */
        display: none;
    }
    .fn-desktop-visitcard { /*A*/  
        margin: 0 auto;
        display: block;
    }
    .desktop-vsc-1 { /*B*/
        display: flex;
        margin: 0 auto;
        max-width: 880px;
        justify-content: center;
        align-items: center;
        border: 1px solid #ededed;
    }
    
    .fn-desktop-visitcard .desktop-vsc-1 .desktop-vsc-1o2 {
        display: flex;
        max-width: 50%;
    }
    
    .fn-desktop-visitcard .desktop-vsc-1 .desktop-vsc-2o2 {
        display: flex;
        overflow-wrap: break-word;
        font-size: 2.7em;
        color: #1d1d1d;
        line-height: 1em;
        font-weight: 700;
        max-width: 25%;
        padding: 0em 0.5em 0em 0.55em;
        border: 1px solid #ededed;
    }
    .desktop-vsc-2 { /*C*/
        display: block;
        margin: 0 auto;
        margin-top: 1.2em;
        justify-items: center;
        align-items: center;
        align-self: center;
        justify-self: center;
        text-align: center;
        min-width: 200px;
        max-width: 880px;
    }
    .desktop-vsc-3 { /*D*/
        /*Tamanho e alinhamento:*/
        display: flex;
        margin: 0 auto;
        margin-top: 2em;
        max-width: 770px;
        width: fit-content;
        justify-content: center;
        justify-self: center;
        padding: 0.42em 1.1em 0.57em 0.24em;
        align-self: center;
        /*Decoração:*/
        background: #c5c4bb;
        border: solid 1px #c5c4bb;
        border-radius: 17px;
        backdrop-filter: blur(5px);
        -webkit-backdrop-filter: blur(5px);
    }
    .desktop-vsc-3 > .div:hover { /*E*/
        text-decoration: underline;
    }
}
    

@media (max-width: 693px) {
    .fn-desktop-visitcard {
        display: none;
    }
    .fn-mobile-visitcard { /*A*/  /* ~ ~ ~ ~ Cartão de visita mobile ~ ~ ~ ~ */
        display: block;
    }
    .mobile-vsc-1 { /*B*/
        display: flex;
        margin: 0 auto;
        margin-left: 2em;
        margin-right: 2em;
        justify-content: center;
        align-items: center;
    }
    .fn-mobile-visitcard .mobile-vsc-1 .mobile-vsc-1o2 {
        display: flex;
    }
    .fn-mobile-visitcard .mobile-vsc-1 .mobile-vsc-2o2 {
        display: flex;
        overflow-wrap: break-word;
        max-width: 45%;
        font-size: 1.77em;
        color: #1d1d1d;
        line-height: 1em;
        font-weight: 700;
        padding: 0em 0.1em 0em 0.6em;
    }
    .mobile-vsc-2 { /*C*/
        display: block;
        margin: 0 auto;
        margin-top: 2em;
        text-align: center;
        min-width: 200px;
    }
    .mobile-vsc-2 > img:nth-child(1) {
        max-width: 70%;
    }
    .mobile-vsc-2 > div:nth-child(2) {
        display: block;
        justify-items: center;
        align-items: start;
        align-self: start;
        justify-self: center;
        font-family: 'Darker Grotesque', sans-serif;
        font-weight: 700;
        color: #1d1d1d;
        font-size: 2.4em;
    }
    .mobile-vsc-3 { /*D*/
        display: flex;
        margin: 0 auto;
        margin-left: 1em;
        margin-right: 1em;
        margin-top: 2em;
        width: fit-content;
        flex-wrap: wrap;
        padding: 0.35em 0em 0.35em 0em;
        justify-self: flex-end;
        align-self: center;
        /**/
        background: #c5c4bb;
        border-radius: 17px;
        backdrop-filter: blur(5px);
        -webkit-backdrop-filter: blur(5px);
    }
    .fn-wrapper .fn-textos-summary > div > div {
        border-left: 4px solid #1d1d1d;
        padding-left: 0.9em;
        padding-right: 0.5em;
        font-size: 1.18em;
    }
    .fn-wrapper .fn-texto-body {
        font-size: 1.1em;
    }
    }
    
    .desktop-vsc-2 > div:nth-child(2) {
        grid-column: 1;
        grid-row: 2/3;
        display: block;
        justify-items: center;
        align-items: start;
        align-self: start;
        justify-self: center;
        font-family: 'Darker Grotesque', sans-serif;
        font-weight: 700;
        color: #1d1d1d;
        font-size: 4.4em;
    }
    .mobile-vsc-2 > div:nth-child(2) {
        display: block;
        justify-items: center;
        align-items: start;
        align-self: start;
        justify-self: center;
        font-family: 'Darker Grotesque', sans-serif;
        font-weight: 700;
        color: #1d1d1d;
        font-size: 3em;
    }
    .desktop-vsc-2 > div:nth-child(3) {
        grid-column: 1;
        grid-row: 3/4;
        font-family: 'Charmonman', cursive;
        font-size: 1.14em;
        color: #737373;
    }
    .mobile-vsc-2 > div:nth-child(3) {
        font-family: 'Charmonman', cursive;
        font-size: 1em;
        margin-bottom: 1em;
        color: #737373;
    }
    .desktop-vsc-3-indice {
        display: block;
        font-family: 'Darker Grotesque', sans-serif;
        color: #ffffff;
        font-weight: 500;
        font-size: 1.2em;
        padding: 0.3em 0.1em 0.3em 1em;
    }
    .desktop-vsc-3-indice:hover {
        text-decoration: underline;
        cursor: pointer;
    }
    .mobile-vsc-3-indice {
        display: flex;
        flex-direction: column;
        font-family: 'Darker Grotesque', sans-serif;
        color: #ffffff;
        font-weight: 500;
        font-size: 1.2em;
        padding: 0.1em 0.4em 0.1em 1em;
        overflow-wrap: break-word;
        word-wrap: break-word;
    }
    .mobile-vsc-3-indice > a {
        overflow-wrap: break-word;
        word-wrap: break-word;
    }
    h1 {
        display: block;
        max-width: 940px;
        margin: 0 auto;
        margin-bottom: 0.6em;
        font-family: 'Darker Grotesque', sans-serif;
        font-weight: 600;
        font-size: 1.1em;
        color: #888888;
        text-transform: uppercase;
    }
    .fn-desktop-textos { /* ~ ~ ~ ~ Textos ~ ~ ~ ~ */
        margin-top: 25px;
        white-space: pre-wrap;
    }
    .fn-desktop-textos > div { /*Primeiro nivel de divs dentro do container*/
        padding: 0px 20px 20px 20px;
        margin-bottom: 1em;
    }
    .fn-textos-summary > div, .fn-textos-stack > div {
        margin: auto;
        background: none;
        max-width: 770px;
        padding: 0px;
        border-radius: 0px;
        max-width: 770px;
    }
    .fn-textos-summary > div > div {
        border-left: 4px solid #1d1d1d;
        padding-left: 1em;
        padding-right: 0.4em;
        font-size: 1.3em;
    }
    #fni1 > div, #fni2 > div, #fni3 > div, #fni4 > div, #fni5 > div, #fni6 > div {
        max-width: 880px;
        display: block;
        margin: auto;
        padding: 2.45em 2.2em 2.2em 2.2em;
        border-radius: 17px;
        background: #ffffff;
        border: 1px solid #f4f4f4;
    }
    #fni6 > div { /*Adjust*/
        padding-top: 2.7em;
    }
    .ad-horizontal { /*Adjust*/
        max-width: 880px;
        display: block;
        text-align: center;
        margin: 0 auto;
    }
    .fn-texto-start {
        text-align: center;
        font-weight: 600;
        font-size: 1.5em;
        margin-bottom: 0.9em;
    }
    .start-2 {
        text-align: left;
        margin-top: -0.3em;
        margin-bottom: 0.5em;
        padding-bottom: 0px;
        font-size: 1.4em;
    }
    .start-3 {
        text-align: left;
    }
    .fn-texto-body {
        text-align: left;
        font-weight: 500;
        font-size: 1.2em;
        margin-bottom: 1.6em;
    }
    .last-body {
        margin-bottom: 0px;
        border-bottom: none;
    }
    .body-2 {
        font-size: 1em;
        text-align: left;
        padding-bottom: 1.2em;
        border-bottom: 1px solid #e6e6e6;
    }
    .MuiPagination-root {
        text-align: center;
        justify-items: center;
        justify-content: center;
        justify-self: center;
    }
    .fn-texto-flexbox {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin: 0 auto;
        margin-bottom: 1em;
    }
    .fn-texto-flexbox > div:nth-child(1) {
        flex-grow: 0;
        min-width: 60px;
        max-width: 150px;
        justify-content: center;
        justify-items: center;
        justify-self: center;
    }
    .fn-texto-flexbox > div:nth-child(2) {
        flex-grow: 3;
        min-width: 250px;
        width: 500px;
        text-align: left;
        font-size: 1.2em;
    }
    @media (min-width: 760px) {
    .fn-texto-flexbox > div:nth-child(2) {
        padding-left: 15px;
    }
    }
    .fn-texto-couples {
        display: flex;
        margin: 0 auto;
        justify-content: center;
        justify-items: center;
        margin-bottom: 1.3em;
    }
    .fn-texto-couples-1 {
        display: flex;
        flex-grow: 1;
        min-width: 50px;
        min-height: 50px;
        max-width: 150px;
        max-height: 150px;
        width: 20%;
        height: 20%;
        aspect-ratio: 1 / 1;
        border-radius: 50%;
        border: 1px solid #e8eae0;
        justify-content: space-around;
        align-items: center;
    }
    .fn-texto-couples-2 {
        display: flex;
        flex-grow: 0;
        align-items: center;
        justify-content: center;
        margin-left: 0.4em;
        margin-right: 0.4em;
        width: 9%;
    }
    .fn-texto-couples-3 {
        display: flex;
        flex-grow: 1;
        min-width: 50px;
        min-height: 50px;
        max-width: 150px;
        max-height: 150px;
        width: 20%;
        height: 20%;
        aspect-ratio: 1 / 1;
        border-radius: 50%;
        border: 1px solid #e8eae0;
        justify-content: space-around;
        align-items: center;
    }
    
    /*--------------------------------------- Fim ---------------------------------------*/
    